@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@200;400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
    margin: 0;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.survey {
    margin: 0 auto;
}

.header {
    margin-top: 3em;
    text-align: center;
}

.header__title {
    font-weight: 400;
    margin-bottom: 0;
}

.header__desc {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    font-size: 1.2rem;
    margin-top: .3em;
}

.form {
    margin: 0 auto;
    max-width: 45rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    background: var(--color-darkblue-alpha);
    padding: 3em;
    font-size: 1.2rem;
}

.form__label:first-child {
    margin-top: 0;
}

.form__label {
    margin-top: 2em;
    padding-bottom: .2em;
}

.form__input {
    font-family: 'Poppins', sans-serif;
    padding: .5em;
    font-size: 1rem;
    border-radius: .2rem;
    border: none;
}

.form__input::marker {
    font-size: 2rem;
}

.form__textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .5em;
}

.form__checkbox,
.form__radio {
    transform: scale(1.5);
    border: none;
}

.form__checkbox+.form__label,
.form__radio+.form__label {
    margin-top: 0;
}

.form__select {
    color: #495057;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: .5em;
}

.form__button {
    background: var(--color-green);
    border: none;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    padding: .5em;
    margin-top: 2em;
}

.input-container {
    padding: .2em;
}

@media (max-width: 778px) {
    .survey {
        max-width: 33rem;
    }
}

@media (max-width: 575px) {
    header {
        width: 100vw;
    }

    .survey {
        margin: 0;
    }

    .form {
        margin: 0;
        width: 100vw;
    }

    :root {
        font-size: 85%;
    }
}